.header{
    height: 100px;
    width: 100%;
    display: fixed;
    background-color: rgb(125, 87, 36);
    margin:5px ;

}
.nav{
    height: 100px;
    width: 100%;
    margin: 5px;
    position: sticky;
    background-color: rgb(174, 174, 29);

}
.main{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 2px;   
}
.i1{
   height: 450px;
   width: 500px;
   background-color: burlywood;
   display: inline-block;
   margin: 3px;
}
.i2{
    height: 450px;
   width: 500px;
   background-color: cadetblue;
   display: inline-block;
   margin: 3px;
}
.i3{
    height: 450px;
   width: 500px;
   background-color: coral;
   display: inline-block;
   margin: 3px;
}
.foot{
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    position: relative;
    justify-content: end;
}